@media (min-width: 48rem) {
    main h1 {
        font-size: 2.2rem;
    }
}


nav {
    display: flex;
    /* always visible */
    flex-direction: row;
    /* HORIZONTAL on desktop */
    justify-content: center;
}

#menu {
    display: none;
    /* hide hamburger */
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

main h1 {
    font-size: 2rem;
    grid-column: 1 / -1;
}


.about h2 {
    text-align: center;
    color: var(--primary-color);
}

.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-content .text {
    flex: 2;
}


.about-content .photo {
    flex: 1;
    text-align: center;
    margin-bottom: 1rem;
}

.about-content .photo img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.certificate course h2 {
    text-align: center;
    color: var(--primary-color);
}

section:last-child {
    grid-column: 1 / -1;
}