@media (min-width: 48rem) {
    .join-layout {
        grid-template-columns: 2fr 1fr;
    }
}

main {
    main h1 {
        font-size: 2.2rem;
    }
}


nav {
    display: flex;
    /* always visible */
    flex-direction: row;
    /* HORIZONTAL on desktop */
    justify-content: center;
}

#menu {
    display: none;
    /* hide hamburger */
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

main h1 {
    font-size: 2rem;
    grid-column: 1 / -1;
}


.about h2 {
    text-align: center;
    color: var(--primary-color);
}

.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-content .text {
    flex: 2;
}


.about-content .photo {
    flex: 1;
    text-align: center;
    margin-bottom: 1rem;
}

.about-content .photo img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.certificate course h2 {
    text-align: center;
    color: var(--primary-color);
}

section:last-child {
    grid-column: 1 / -1;
}

dialog {
    max-width: 500px;
    width: 90%;
    border: none;
    border-radius: 8px;
    padding: 1.5rem;
    background: #ffffff;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

#closeModal {
    background: none;
    border: none;
    font-size: 1.2rem;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    cursor: pointer;
}