@media (min-width: 48rem) {

    nav {
        display: flex;
        /* always visible */
        flex-direction: row;
        /* HORIZONTAL on desktop */
        justify-content: center;
    }

    #menu {
        display: none;
        /* hide hamburger */
    }

}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

main h1 {
    grid-column: 1 / -1;
}

main h1 {
    grid-column: 1 / -1;
}

.about h2 {
    text-align: center;
    color: var(--primary-color);
}

.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-content .text {
    flex: 2;
}


.about-content .photo {
    flex: 1;
    text-align: center;
}

.about-content .photo img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.certificate course h2 {
    text-align: center;
    color: var(--primary-color);
}

section:last-child {
    grid-column: 1 / -1;
}